#container{
    margin-top: 20px;
}

#caja-principal{
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid rgba(168,168,168,0.32);
    border-radius: 17px;
}

#caja-detalle{
  margin-left: 10px;
}
#caja{
    width: auto;
    border: 2px solid rgba(168,168,168,0.32);
    border-radius: 17px;
}

#img-prd{
    width: 250px;
    min-width: auto;
    min-height: auto;
    height: auto;
}
#btn-dlt{
    width: 100px;
    height: auto;
    margin-top: 10px;
}
#stock{
    color: green;
    font-weight: bold;
}