#caja-btn{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#caja-buscar{
    width: 500px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputs{
    margin-bottom: 10px;
}
label{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: unset;
}
.range{
    display: flex;
    flex-direction: row;
}
.rangeinput{
    margin-left: 5px;
}