<div class="caja">
    <hr>
    <div class="caja-form">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="form-name">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" name="precio" id="form-price">
        <label for="foto">URL foto</label>
        <input type="text" class="form-control" name="foto" id="form-foto">
    </div>
    <div class="caja-form">
        <button class="btn btn-primary" id="btn-add">Agregar</button>
    </div>
    <div id="table">
        <table class="table table-light table-bordered">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {{!-- {{#each productos}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nombre}}</td>
                    <td>${{this.precio}}</td>
                    <td><img src={{this.foto}} class="img-prd" alt="" style="width: 50px;height: 50px;"></td>
                </tr>
                {{/each}} --}}
            </tbody>
        </table>
    </div>
</div>

 
<script src="/socket.io/socket.io.js"></script>
<script>
        const socket = io();

        let inputName = document.querySelector('#form-name')
        let inputPrice = document.querySelector('#form-price')
        let inputURL = document.querySelector('#form-foto')
        document.querySelector('#btn-add').addEventListener('click',()=>{
            let objNuevo = {
                 nombre: inputName.value,
                 precio: inputPrice.value,
                 foto: inputURL.value
            }

           socket.emit('objeto-nuevo',objNuevo) 
        })

        let table = document.querySelector('#table-body')
        socket.on('productos',data=>{
                
            let tr = document.createElement('tr')
            let item = document.createElement('td')
            let item2 = document.createElement('td')
            let item3 = document.createElement('td')
            let item4 = document.createElement('td')

            table.appendChild(tr)
            data.forEach(element=>{
                tr.innerHTML = `<td>${element.id}</td>
                                <td>${element.nombre}</td>
                                <td>${element.precio}</td>
                                <td><img src=${element.foto} alt="" style="width: 50px;height: 50px;"></td>`
            })

        })
        
</script>