#box-item{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 5px;
}


.contenedor-prd-desc{
    border: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

#box-btn-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#btn-delete{
    color: #FF0000;
    font-size: 20px;
}
#btn-delete:hover{
    cursor: pointer;
}
#prd-codigo{
    font-weight: bold;
    color: grey;
}


.contenedor-img{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#img-product{
    width: auto;
    height: 160px;
    margin-bottom: 10px;
}


#title-product{
    text-align: left;
    font-size: 18px;
}
#descr-prd{
    text-align: justify;
    font-size: 14px;
}
#precio-sty{
    color: #038A00;
    font-weight: normal;
    font-size: 20px;
}
#stock-sty{
    font-weight: bold;
    color: #038A00;
}


#contenedor-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-options{
    width: auto;
    margin: 5px;
    padding: 11px;
    font-size: 14px;
    border-radius: 12px;
}
#btn-update{
    color: #FFFFFF;
    background-color: #007320;
}
#btn-cart{
    color: #0075FF;
    border: 1px solid #0075FF; 
}




#contenedor-bnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 780px)  {
    .contenedor-prd-desc{
        width: 500px;
        height: auto;
    }
}