#caja-btn{
    margin: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#caja-buscar{
    width: 874px;
    height: auto;
    background-color: #0075FF;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    color: #FFFFFF;
    font-size: 20px;
    margin: 10px;
}
.icon:hover{
    cursor: pointer;
}



/* .range{
    display: flex;
    flex-direction: row;
}
.rangeinput{
    margin-left: 5px;
} */