/* #carrito{
    padding: 10px;
    width: auto;
}
#carrito-item{
    margin: 10px;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 800px;
}
#img-prd{
    width: auto;
    height: 200px;
}

#carrito-detalle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
}
#cart-titulo-item{
    text-align: left;
    font-weight: bold;
}
#cart-descripcion-item{
    text-align: justify;
}
#cart-precio-item{
    font-size: 25px;
    color: #00970E;
}
#carrito-btn-del{
    text-transform: none;
}

#carrito-total-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
#carrito-total{
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #88DBFF;
    border-radius: 20px;
} */

#cart-item-box{
    margin: 5px;
    border: 1px solid #DBDBDB;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cart-item-img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cart-item-img{
    width: auto;
    height: 100px;
}

#cart-item-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}