#contenedor-form{
    justify-content: center;
    align-items: center;
}


#btn-add{
    margin-top: 10px;
}

#contenedor-productos{
    margin-top: 20px;
}

#caja-btn{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}