body{
    background-color:#F2F2F2;
}

#contenedor-form{
    justify-content: center;
    align-items: center;
}


#btn-add{
    margin-top: 10px;
}

#contenedor-productos{
    margin-top: 20px;
    
}
