<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Entergable Clase 10</title>
</head>
<body>
    <style>
        body{
            background: #0F2027;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        h1{
            text-align: center;
            font-family: 'Anton', sans-serif;
            color: white;
            margin-top: 10px;
        }
        hr{
            color: white;
        }
        #form-add{
            margin-top: 20px;
        }
        #btn-add{
            margin-top: 20px;
        }
        #table-product{
            margin-top: 25px;
        }
        .label{
            color: white;
            margin-bottom: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .hide{
            display: none;
        }
        .msj{
            margin-top: 20px;
        }
        .table{
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
        .img-prd{
            width: 50px;
            height: auto;
        }
    </style>
    <div class="container">
        <h1>Entregable Clase 10</h1>
        <hr>
        {{{body}}}
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>